<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goodwill.wholesale">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".applicationpackage.ShopifyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashsection.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/mapdomain"
                    android:pathPattern="@string/mappattern"
                    android:scheme="http"
                    android:sspPrefix="@string/mappattern" />
                <data
                    android:host="@string/mapdomain"
                    android:pathPattern="@string/mappattern"
                    android:scheme="https"
                    android:sspPrefix="@string/mappattern" />
            </intent-filter>
        </activity>
        <service android:name=".jobscheduler.JobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true"/>
        <!-- ****************************Firebase Notification******************************* -->
        <service
            android:name=".notificationsection.MageNative_MyFirebaseMessagingService"
           >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notificationsection.MageNative_MyFirebaseInstanceIDService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ******************************************************************************** -->
        <activity
            android:name=".maincontainer.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".maincontainer.MainContainerWeblink"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".homesection.HomePage"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".trialexpiresection.TrialExpired"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".productlistingsection.ProductListing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".productlistingsection.AllProductListing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".productviewsection.ProductView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".productviewsection.ZoomImagePagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".checkoutsection.CartListing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".wishlistsection.WishListing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".checkoutsection.CheckoutWeblink"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".loginandregistrationsection.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".loginandregistrationsection.Register"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".searchsection.AutoSearch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".searchsection.SearchView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".dashboardsection.AccountDashboard"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".dashboardsection.ProfilePage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".addresssection.AddressList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".addresssection.AddAddress"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".orderssection.OrderListing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".orderssection.OrderWeblink"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".homesection.HomeWeblink"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>